
.Intro {
    border-radius: 10px;  
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(173, 170, 170);
    
}
body{
    background-image: url(./foto\ comidas.webp);
    background-size: cover;
    background-attachment: fixed;
    }