
.b{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;  
    margin:20px 15px;
    padding:20px 30px;
    width: 200px;
    height: 100px;
    border-radius: 40px;
    background-color: rgba(90, 74, 182, 0.815);
    color:white;
}
.b:hover{
    padding:40px;
    background-color: rgba(60, 150, 223, 0.815);
}
body{
    background-image: url(./foto\ comidas.webp);
    background-size: cover;
    background-attachment: fixed;
    }